doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
    script(src="/javascripts/at.js")
  body
    div(height="100vh")
        img.thePlan(src="/graphics/thePlan.svg")
        