doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/setImmediate/1.0.5/setImmediate.js")
    script(src="/javascripts/at.js")

    link(rel="icon" href="/thePlan.parsable.ico?v=4")

    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js")
  
    style
      include ../public/stylesheets/thePlan.css

  body
    div.thePlanContainer
        img.eschaton(src= backgroundImageURL)
        div.interactiveContainer
    //div.sideBarModal.sideBarComponent.modal.modalCloser
    div.sideBar.sideBarComponent.modal