extends layout

block headExtra
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")

block content
  h1= title
  p Welcome to #{title}
