doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/setImmediate/1.0.5/setImmediate.js")
    script(src="/javascripts/at.js")

    style
      include ../public/stylesheets/thePlan.css
  body
    div.thePlanContainer
        img.eschaton(src="/graphics/foundationtrilogy.jpg")
        div.interactiveContainer
        